# First, make sure the higher-level .envrc is loaded
# Note that all dependency management, including installing maturin itself,
# is actually done through nix in this top level .envrc
source_up

python_version_hash=$(python --version --version | sha1sum | cut -c1-40)

# Then, we (create iff necessary) and activate an (empty!) virtual env
# so Maturin doesn't complain when running `maturin develop`.
if [ ! -d ".venv-$python_version_hash" ]; then
  echo "Creating an empty Python virtualenv to be able to run 'maturin develop', for Python version '$(python --version --version)' (hash $python_version_hash)..."
  python -m venv ".venv-$python_version_hash"
  echo "Done!"
fi

source ".venv-$python_version_hash/bin/activate"
