# First, make sure the higher-level .envrc is loaded
# Note that all dependency management, including installing maturin itself,
# is actually done through nix in this top level .envrc
source_up

# Then,we activate an (empty!) virtual env
# so Maturin doesn't complain when running `maturin develop`.
source .venv/bin/activate
